# Archivo dedicado y exclusivo para la definicion y asignacion
# de valores importantes para la ejecucion del programa
# como el nombre y ubicacion de la base de datos y variables que
# que pueden ser modificadas para la experimentacion del
# mismo, influyendo en el resultado final del programa.

[COLONIA]

# Es el tamanio de la colonia. Se recomienda entre 100-200
SIZE=150

# Es la distancia que cada abeja recorre. Se recomienda entre 25-75
DISTANCIA=50

[GUI]

ANCHO=30
ALTO=20
ZOOM=5

#Recomendaciones tablero grande:
#ANCHO=26
#ALTO=36
#ZOOM=5

#Recomendaciones tablero normal:
#ANCHO=30
#ALTO=20
#ZOOM=5
 
[SEMILLA]

# -1 Si se desea buscar la mejor semilla y un n > 0 para colocarla.
SEMILLA=-5
# Necesitamos un numero de intentos de busqueda de semillas.
SEMILLA_ITERA=100
# Ubicacion de las semillas.
UBICACION=./etc/semillas.cfg